<div class="container border mb-3">
  <h1>Create a New Blog Post</h1>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Post Title</label>
    <input type="email" class="form-control" id="blog-title" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Post Content</label>
    <textarea class="form-control" id="blog-content" rows="4" placeholder="Content"></textarea>
  </div>
  <button type="button" class="btn btn-primary mb-2" id="post-btn">Post</button>
</div>
<div class="container">
  <h1>Your Posts</h1>
  {{#if (is_empty userBlogs)}}
  <p>You account currently has no posts, get started by creating a post!</p>
  {{/if}}
  {{#each userBlogs}}
  <div class="row mx-auto mb-3">
    <div class="card col-12">
      <div class="card-header bg-primary text-white">
        <h1 class="username card-title" userid="{{user.id}}" id="username">@{{user.name}}</h1>
      </div>
      <div class="card-body">
        <p class="message card-text">{{content}}</p>
        <p class="timestamp card-text">Posted at: {{format_date timestamp}}</p>
        <a href="/post/{{id}}" class="card-link comment">View Comments</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="./js/dashboard.js"></script>